@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
  list-style: none;
}
body{
  background: #333;
}
.metro{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.item{
  width: 100px;
  height: 100px;
  float: left;
  margin: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition: 0.4s;
}
.item:hover{
  transform: scale(0.9);
}
.item i{
  font-size: 36px;
  line-height: 90px;
  opacity: 0.8;
}
.item span{
  opacity: 0.8;
  position: absolute;
  bottom: 6px;
  left: 6px;
  font-size: 15px;
}
.i1{
  background: #3498db;
}

.i2{
  background: #e74c3c;
  width: 208px;
}

.i3{
  background: #2ecc71;
}

.i4{
  background: #34495e;
}

.i5{
  background: #9b59b6;
}
