*{
  font-family: "montserrat";
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
}
.modal{
  width: 500px;
  height: 200px;
  overflow: hidden;
  background: #34495e;
  position: fixed;
  bottom: -300px;
  right: 20px;
  transition: 1s;
}
.modal img{
  width: 200px;
  height: 200px;
  float: left;
}
.modal .content{
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  color: white;
}
.content h1{
  font-size: 20px;
}
.content p{
  font-size: 15px;
}
.content a{
  display: inline-block;
  background: #e74c3c;
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
}
.hide{
  position: absolute;
  z-index: 9999;
  top: 14px;
  right: 14px;
  font-size: 20px;
  color: black;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}
.hide:hover{
  transform: rotate(90deg);
  opacity: 1;
}
.btn{
  color: #e74c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  border: 2px solid;
  padding: 10px 20px;
}
